<!-- <div class="panel panel-default">
  <div class="panel-body">
    <form class="form-inline hidden-xs hidden-sm">
      <ss-multiselect-dropdown [texts]="activityTypesTexts" [options]="activityTypes" [(ngModel)]="projectFilterDto.projectActivityTypes"
        [settings]="mySettings" name="projectActivityTypes">
      </ss-multiselect-dropdown>
      <ss-multiselect-dropdown [texts]="projectTypesTexts" [options]="projectTypes" [(ngModel)]="projectFilterDto.projectTypes" [settings]="mySettings"
        name="projectTypes"></ss-multiselect-dropdown>

      <div class="pull-right">
        <button type="button" class="btn btn-success" (click)="getNewFilteredProjects()">
          <span class="glyphicon glyphicon-filter"></span>
          {{'ProjectFilterPanel.FilterButton' | translate}}
          <span class="badge">{{progectsTotalCount}}</span>
        </button>
        <button type="button" class="btn btn-danger" (click)="newFilter()">
          <span class="glyphicon glyphicon-refresh "></span>
          {{'ProjectFilterPanel.ClearButton' | translate}}
        </button>
      </div>
    </form>

    <form class="form-inline visible-xs visible-sm text-center">
      <ss-multiselect-dropdown [texts]="activityTypesTexts" [options]="activityTypes" [(ngModel)]="projectFilterDto.projectActivityTypes"
        [settings]="mySettings" name="projectActivityTypes">
      </ss-multiselect-dropdown>
      <ss-multiselect-dropdown [texts]="projectTypesTexts" [options]="projectTypes" [(ngModel)]="projectFilterDto.projectTypes" [settings]="mySettings"
        name="projectTypes"></ss-multiselect-dropdown>
    </form>
    <form class="form-inline visible-xs visible-sm text-center" style="margin-top:10px;">
      <button type="button" class="btn btn-success" (click)="getNewFilteredProjects()">
        <span class="glyphicon glyphicon-filter"></span>
        {{'ProjectFilterPanel.FilterButton' | translate}}
        <span class="badge">{{progectsTotalCount}}</span>
      </button>
      <button type="button" class="btn btn-danger" (click)="newFilter()">
        <span class="glyphicon glyphicon-refresh "></span>
        {{'ProjectFilterPanel.ClearButton' | translate}}
      </button>
    </form>
  </div>
</div> -->