<app-loader [isRunning]="isRunning"></app-loader>
<div class="modal-dialog top-Margin">
  <div class="contacts">
    <div role="dialog">
      <!-- Modal content-->
      <div class="modal-top-bar-info"></div>
      <div class="modal-header">
        <h2 class="modal-title text-center police-funder">{{'Popups.UpdatePassword' | translate}}
        </h2>
      </div>
      <div class="modal-body">
        <div>
          <div>
            <div class="alert alert-info text-center" role="alert" *ngIf="formSent && !passwordUpdatted && !formInvalid">
              {{'CommonMessages.EnterNewPassword' | translate}}
            </div>
            <!-- <div class="alert alert-info text-center" role="alert" *ngIf="passwordUpdatted">
              {{'CommonMessages.ModifiedPassword' | translate}}
            </div>
            <div class="alert alert-danger text-center" role="alert" *ngIf=" !formSent && !formInvalid">
              {{'CommonMessages.ErrorUpdatePassword' | translate}}
            </div>-->
            <div class="alert alert-danger text-center" role="alert" *ngIf="formInvalid">
              {{'CommonMessages.InvalidPassword' | translate}}
            </div>
          </div>
          <div class="form-content">
            <form #form="ngForm" class="message row form-horizontal" data-ajax="true" (ngSubmit)="updatePassword(form)">
              <div class="controls controls-row">
                <div class="form-group" [class.has-error]="formInvalid && Password.invalid">
                  <p class="label1" for="Password">{{'InputsPlaceholder.Password' | translate}}</p>
                  <input type="password" class=" form-control" id="Password" name="Password" #Password="ngModel" [placeholder]="'InputsPlaceholder.Password' | translate"
                    [(ngModel)]="password" [minlength]="Constants.userPasswordMinLength" [maxlength]="Constants.userPasswordMaxLength"
                    required>
                </div>
                <div class="form-group" [class.has-error]="formInvalid && (confirmerPW.invalid || confirmerPW.value !== Password.value)">
                  <p class="label1" for="confirmerPW">{{'InputsPlaceholder.ConfirmPassword' | translate}}</p>
                  <input type="password" class=" form-control" id="confirmerPW" name="confirmerPW" #confirmerPW="ngModel" [(ngModel)]="confirmPassword"
                    [placeholder]="'InputsPlaceholder.ConfirmPassword' | translate" [minLength]="Constants.userPasswordMinLength"
                    [maxlength]="Constants.userPasswordMaxLength" required>
                </div>

              </div>
              <div class="text-center">
                <button type="submit" class="btn popup-ok-btn">
                  {{'Popups.SendButton' | translate}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<div id="passChangeModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-top-bar-info"></div>
      <div class="modal-header">
        <h2 class="modal-title modal-text-header" style="float: left;">{{'Popups.UpdatePassword' | translate}}</h2>
        <h2 class="cursor-pointer modal-title pull-right modal-close-btn" data-dismiss="modal">&times;</h2>
      </div>
      <div class="modal-body">
        <div class="popup-text">
          <p *ngIf="passwordUpdatted"> {{'CommonMessages.ModifiedPassword' | translate}}</p>
          <p *ngIf=" !formSent && !formInvalid">{{'CommonMessages.ErrorUpdatePassword' | translate}}</p>
        </div>

        <div style=" padding: 10px"></div>
        <div class="text-center">
          <button type="button" (click)=" hidePassChangeModal()" class="btn popup-ok-btn" data-dismiss="modal">{{'Popups.CloseButton' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
