.fav-text{
    text-align: center;
    opacity: 0.75;
	color: #373E40;
}
/* @media (max-width: 768px){
    .fav-text{
    
        margin-left: 0;
        text-align: center;
    }
} */
.list-projects-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    /* width: 960px; */
}