.bottom-container {
  height: 8px;
  border-radius: 0 0 3px 3px;
  background-color: #E6E8E6;
  width: 100%;
  float: left;
}

.rectangle-copy-2 {
  float: left;
  width: 100%;
  height: 8px;
  border-radius: 0 0 3px 3px;
  background-color: #2ECC71;
}

.number {
  height: 33px;
  width: 75px;
  color: #232425;
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}

.border-left {
  padding-right: 20px;
  border-right: 1px solid #ccc;

}

.sell-btn {
  height: 23px;
  width: 85px;
  border-radius: 3px;
  background-color: #337BAE;
}

.buy-btn {
  height: 23px;
  width: 85px;
  border-radius: 3px;
  background-color: #9F82D2;
}

.text-sell {
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  margin-bottom: 5px;
}

.rectangle {
  /* height: 350px; */
  width: 290px;
  border: 1px solid #DADADA;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.19);
}

.Font {
  opacity: 0.75;
  color: #373E40;
  font-family: "Open Sans";
}

.nom-du-produit {
  height: 38px;
  width: 216px;
  opacity: 0.75;
  color: #373E40;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
}

.Font2 {
  height: 38px;
  width: 88px;
  color: #373E40;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 38px;
}

.head-text {
  height: 120px;
}

.vertical-line {
  opacity: 0.2;
  box-sizing: border-box;
  border-left: 1px solid #232425;
  width: 2px;
  height: 28px;
  position: absolute;
  left: 59%;
  margin-left: -3px;
}

.img {
  float: left;
  border-radius: 4px;
  margin: 1px 10px 6px 0px;
}

.no-margin {
  margin-left: 0;
  padding-left: 0;
}

.no-margin-total {
  margin: 0;
  padding: 0;
}

.coins {
  height: 33px;
  width: 145px;
  color: #373E40;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
}

.green-text {
  height: 24px;
  width: 104px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

@media only screen and (max-width: 992px) {

  /* For mobile phones: */
  [class*="head-text"] {
    height: 200px;
  }

  strong {
    font-weight: 500;
  }
}

video {
  width: 100% !important;
  height: 522px !important;
}

.leftRs {
  position: absolute;
  margin: auto;
  top: -10%;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  left: 5%;
  background-color: #98b709;
  border: none;
  outline: none;
  opacity: 0.6;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: -10%;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  right: 5%;
  background-color: #98b709;
  border: none;
  outline: none;
  opacity: 0.6;
}

.rightRs:hover,
.leftRs:hover {
  opacity: 1;
}

.custom-chevron {
  color: white !important;
  font-size: 22px !important;
}

.content-margin-top {
  margin-top: 5px;
}

@media (max-width:422px) {
  .title-font-size {
    font-size: 18px !important;
  }

  .custom-chevron {
    font-size: 12px !important;
  }

  .leftRs {
    width: 30px;
    height: 30px;
  }

  .rightRs {
    width: 30px;
    height: 30px;
  }
}

.fix-title {
  margin-top: -12px;
  margin-bottom: 8px;
}

.title-font-size {
  font-size: 22px;
}

.fix-height {
  height: 652px;
}

@media (max-width:998px) {
  .fix-height {
    height: 640px;
  }
}

.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>td,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>thead>tr>th {
  white-space: normal;
}

.badge-project-details {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #959595;
  border-radius: 10px;
}

@media (max-width:520px) {
  video {
    height: 231px !important;
  }
}

@media (display-mode: fullscreen) and (max-width:520px) {
  video {
    height: 100% !important;
  }
}

@media (min-width:521px) and (max-width:698px) {
  video {
    height: 377px !important;
  }
}

@media (display-mode: fullscreen) and (min-width:521px) and (max-width:698px) {
  video {
    height: 100% !important;
  }
}

@media (min-width:699px) and (max-width:767px) {
  video {
    height: 522px !important;
  }
}

@media (display-mode: fullscreen) and (min-width:699px) and (max-width:767px) {
  video {
    height: 100% !important;
  }
}

@media (min-width:768px) and (max-width:820px) {
  video {
    height: 340px !important;
  }
}

@media (display-mode: fullscreen) and (min-width:768px) and (max-width:820px) {
  video {
    height: 100% !important;
  }
}

@media (min-width:821px) and (max-width:998px) {
  video {
    height: 413px !important;
  }
}

@media (display-mode: fullscreen) and (min-width:821px) and (max-width:998px) {
  video {
    height: 100% !important;
  }
}

@media (display-mode: fullscreen) and (min-width:999px) {
  video {
    width: 100% !important;
    height: 100% !important;
  }
}

.favorite-icon {
  color: white;
  cursor: pointer;
  user-select: none;
  position: absolute;
  padding: 2px 4px;
  z-index: 1000;
  margin-top: 6px;
}

.favorite-icon .fa-heart {
  font-size: 30px;
}

.favorite-icon .fa-heart-o {
  font-size: 30px;
  position: absolute;
}

.day-style {
  height: 49px;
  color: #90AFC5;
  font-family: "Open Sans";
  font-size: 40px;
  letter-spacing: 1.43px;
  line-height: 34px;
  text-align: right;
  padding-right: 10px;
}

.month-year-style {
  height: 19px;
  color: #90AFC5;
  font-family: "Open Sans";
  font-size: 12px;
  letter-spacing: 0.55px;
  line-height: 19px;
  text-align: right;
  float: right;
}

.text-news {
  border-bottom: 1px solid #ccc;
  /* padding-bottom: 50px;
  color: #212121;
  font-family: "Open Sans";
  font-size: 22px; */
  line-height: 36px;
  /* float: left; */
}

textarea {
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  background-color: #F6F6F6;
}

textarea:focus {
  border-color: #ccc;
}

.image-profile-size {
  width: 40px;
  height: 40px;
}

.avatar {
  height: 65px;
  width: 65px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.15);
}

.name {
  height: 19px;
  padding-left: 87px;
  line-height: 6px;
  color: #373E40;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
}

.disscussion-content {
  padding-left: 87px;
  padding-top: 8px;
  line-height: 26px;
}

.line {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 0.09%;
  margin-left: 87px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #E9E9E9;
}

.respond-btn {
  height: 18px;
  opacity: 0.75;
  color: #373E40;
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 18px;
}

.time-ago {
  opacity: 0.75;
  color: #373E40;
  font-family: "Open Sans";
  font-size: 12px;
}

.end-funding {
  position: absolute;
  right: 0px;
  padding: 2px 4px;
  user-select: none;
}

li.active>a {
  font-family: "Open Sans";
  font-weight: bold;
  border-bottom: 3px solid #62C2D0;
  color: #62C2D0;
  padding-bottom: 20px;
  margin-bottom: 1px;
}

li>a {
  opacity: 0.75;
  color: #373E40;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.nav li a:focus,
.nav li a:hover {
  background-color: transparent !important;
}

nav a:hover,
nav a:focus {
  background-color: transparent !important;
}

.navbar-nav {
  float: none !important;
  margin: 0;
}

.sell-panel {
  background: url(/assets/img/icones/ic_vente_big.svg) no-repeat;
  height: 246px;
  background-color: #9F82D2;
  background-position-y: -200%;
  background-size: 274px 267px;
  background-color: #337BAE;
}

.buy-panel {
  background: url(/assets/img/icones/ic_achat_big.svg) no-repeat;
  height: 246px;
  background-color: #9F82D2;
  background-position-x: 110%;
  background-position-y: -200%;
  background-size: 274px 267px;
}

.panel-label {
  width: 520px;
  color: #FFFFFF;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  text-align: center;
}

.panel-icon {
  color: #FFFFFF;
  font-size: 42px;
  text-align: center;
}

.btn-sell {
  cursor: pointer;
  border-radius: 5px;
  background-color: #FFFFFF;
  color: #337BAE;
  height: 40px;
  padding: 10px 45px;
}

.send-btn {
  cursor: pointer;
  border-radius: 5px;
  color: #337BAE;
  height: 40px;
  padding: 10px 70px;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #337BAE;
}

.buy-text {
  color: #9F82D2;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
}

.sell-text {
  color: #337BAE;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
}

.fix-panel {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.intro-label {
  color: #212121;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}

.input-label {
  color: #495057;
  font-family: "Open Sans";
  font-size: 16px;
  letter-spacing: -0.35px;
  line-height: 27px;
}

.custom-input {
  height: 50px;
  width: 170px;
  border: 1px solid #DEDEDE;
}

.product-header {
  opacity: 0.75;
  color: #373E40;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 600;
  /* line-height: 33px; */
}

@media(min-width:1200px) {
  .content {

    width: 1150px;

  }
}

/* .productToaster {
  text-align: center;
  background: rgba(51, 123, 174, 1);
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #fff;
  margin: 0;
  position: fixed;
  color: #FFFFFF;
  top: 250px;
  width: 200px;

  display: block;
  z-index: 100;
}

.toasterHeader {
  padding: 5px 10px;
}

.toasterTitle {
  padding: 5px;
}

.toasterBody {
  padding: 5px 20px;
} */
